/* Styles for the Sidebar */
.sidebar {
    position: fixed; /* Make the sidebar fixed */
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    width: 250px; /* Adjust the width as needed */
    background-color: rgb(255, 255, 242);/* A dark background for the sidebar */
    color: #fff; /* Light text for better contrast */
    padding: 20px;
    box-shadow: 2px 0 5px black;
  }
  
  /* Sidebar Links */
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 50px 0; /* Spacing between links */
  }
  
 /* Sidebar and Footer Navbar Links */
.sidebar a, .footerNavbar li a {
  display: inline-block; /* Restrict width to content */
  color: #381d1d; /* Default text color */
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s; /* Smooth transitions */
}

.sidebar a:hover, .footerNavbar li a:hover {
  color: rgb(239, 20, 57); /* Change text color on hover */
  transform: scale(1.07); /* Slightly enlarge the icon/text */
}

.sidebar a.active, .footerNavbar li a.active {
  color: rgb(239, 20, 57); 
}

.footerNavbar {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 1000;
}

.footerNavbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.footerNavbar li{
  margin: 0 15px;
}

.footerNavbar li a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

  @media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0; /* Reset margin when sidebar is hidden */
  }
  .footerNavbar {
    display: flex; /* Show footer navbar on smaller screens */
  }

}

/* In your menu.module.css */



.funFact {
  background-color: #ff66b2;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
}

.funFact h3 {
  margin: 0;
  font-weight: bold;
}

.funFact p {
  margin-top: 10px;
}

.reloadButton {
  background-color: white; 
  color: #ff3385;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.reloadButton:hover {
  background-color: #e9b4c8;
}