:root{
  --body-bg: rgb(255, 255, 242);
  --nav-bg: rgb(255, 255, 242);
  height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
  background-color: rgb(255, 255, 242); 
  min-height: 100vh; 
  padding-bottom: 100px;
  margin-left: 250px;
  overflow-y: auto; 
  transition: margin-left 0.3s; 
}
.ScrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #381d1d;
  color: white;
  border: none;
  border-radius: 20%;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  z-index: 1001; 
}
::-webkit-scrollbar {
  width: 20px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background: #381d1d;
  border-radius: 10px; 
  border: 5px solid #f1f1f1; 
}
::-webkit-scrollbar-thumb:hover {
  background: #381d1d; 
}
html {
  scrollbar-width: thick;
  scrollbar-color:#381d1d #f1f1f1; 
}

@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  .main-content {
    width: 100%; 
    margin: 0 auto; 
  }
}


  