/* Reset for å sikre at alt starter fra en kjent tilstand */

:root{
  --body-bg: rgb(255, 255, 242);
  --nav-bg: rgb(255, 255, 242);
  height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main content styles */
.main-content {
  background-color: rgb(255, 255, 242); /* Same background color */
  min-height: 100vh; /* Ensures it takes up at least the full height */
  padding-bottom: 100px;
  margin-left: 250px; /* Adjust for sidebar width */
  overflow-y: auto; /* Allow scrolling if content is taller than the viewport */
  transition: margin-left 0.3s; /* Smooth transition when sidebar is hidden */
}

/* Scroll Button */
.ScrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #381d1d;
  color: white;
  border: none;
  border-radius: 20%;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above other content */
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  }


  .main-content {
    width: 100%; /* Make sure it takes up the full width if needed */
    margin: 0 auto; /* Center content horizontally */
  }
}


  ::-webkit-scrollbar {
    width: 20px; /* Adjust the width */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color */
    border-radius: 10px; /* Rounded edges for track */
}

::-webkit-scrollbar-thumb {
    background: #381d1d; /* Thumb color */
    border-radius: 10px; /* Rounded edges for thumb */
    border: 5px solid #f1f1f1; /* Add a border for better design */
}

::-webkit-scrollbar-thumb:hover {
    background: #381d1d; /* Change color when hovered */
}

html {
    scrollbar-width: thick;
    scrollbar-color:#381d1d #f1f1f1; /* Thumb color and track color */
}